#herobox{
  height: 60vh;
  min-height: 50vh;
  background-image: url(../img/slide-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#bhero{
  border-radius: 25px;
  border: 3px solid violet;
  font-family: raleway;

}
#bhero:hover{
  border: 3px solid #03bed1;
  border-color: #03bed1;
}
.bg-transparent{
  background-color: #00000061 !important;
}
#ribbon{
  background-color: rgba(238, 130, 238, 0.26);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(208, 208, 208, 0.5) 25px, rgba(208, 208, 208, 0.5)40px);
}
.container_caption {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#btnslide1{
  background-color: violet;
  border-radius: 25px;
  border: 0px;
  font-size: medium;
  font-weight: bold;
}
#btnslide1:hover{
  background-color: #03bed1;
}
#btnslide2{
  background-color: #03bed1;
  border-radius: 25px;
  border: 0px;
  font-size: medium;
  font-weight: bold;
}
#btnslide2:hover{
  background-color: violet;
}
#btnslide3{
  background-color: violet;
  border-radius: 25px;
  border: 0px;
  font-size: medium;
  font-weight: bold;
}
#btnslide3:hover{
  background-color: #03bed1;
}
.carousel-caption{
  bottom: 25%;
}
.Tittle_slide{
  font-family: Raleway;
  font-weight: bold;
}
.Text_slide{
  font-family: open sans,  Sans-serif;
  font-weight: 400;
}
#btn_info{
  background-color: #03bed1;
  border-radius: 25px;
  border: 3px solid #03bed1;
  font-size: medium;
  font-weight: bold;
  margin-top: 15px;
}
#btn_info:hover{
  border-color: violet;
  background-color: transparent;
  color: black;
}