#herobox{
  height: 60vh;
  min-height: 50vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.71),
    rgba(0, 0, 0, 0.71)
  ), url(../img/slide-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#bhero{
  border-radius: 25px;
  border: 3px solid #ee83ed;
  font-family: raleway;

}
#bhero:hover{
  border: 3px solid #03bed1;
  border-color: #03bed1;
}
.bg-transparent{
  background-color: #00000061 !important;
}
#ribbon{
  background-color: rgba(255, 200, 255, 0.26);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(245, 181, 245, 0.452) 25px, rgba(250, 158, 238, 0.404)40px);
}
.container_caption {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#btnslide1{
  background-color: #ee83ed;
  border-radius: 25px;
  border: 0px;
  font-size: medium;
  font-weight: bold;
}
#btnslide1:hover{
  background-color: #03bed1;
}
#btnslide2{
  background-color: #03bed1;
  border-radius: 25px;
  border: 0px;
  font-size: medium;
  font-weight: bold;
}
#btnslide2:hover{
  background-color: #ee83ed;
}
#btnslide3{
  background-color: #ee83ed;
  border-radius: 25px;
  border: 0px;
  font-size: medium;
  font-weight: bold;
}
#btnslide3:hover{
  background-color: #03bed1;
}
.carousel-caption{
  bottom: 25%;
}
.Tittle_slide{
  font-family: Raleway;
  font-weight: bold;
}
.Text_slide{
  font-family: open sans,  Sans-serif;
  font-weight: 400;
}
#btn_info{
  background-color: #03bed1;
  border-radius: 25px;
  border: 3px solid #03bed1;
  font-size: medium;
  font-weight: bold;
  margin-top: 15px;
}
#btn_info:hover{
  border-color: violet;
  background-color: transparent;
  color: black;
}

.icon{
  font-size: 22px;
  color:#ee83ed;
  margin: 5px 20px 0px 0px;
  
}

.icon:hover{
  color: #03bed1;
}
.icon2{
  font-size: 31px;
  color:#ee83ed;
  margin: 0px 22px 0px 0px;
}
.icon2:hover{
  color:#03bed1
}

#heroboxB{
  height: 20vh;
  min-height: 40vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.71),
    rgba(0, 0, 0, 0.71)
  ), url(../img/Blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#heroboxBB{
  height: 20vh;
  min-height: 60vh;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.71),
    rgba(0, 0, 0, 0.71)
  ), url(../img/Blog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.text1{
  color: azure;
}
.text1:hover{
  color: #ee83ed;
  text-decoration: none;
}

#menu1:hover{
  color: #ee83ed;
  text-decoration: none;
  
}
#menu2:hover{
  color: #ee83ed;
  text-decoration: none;
}
#menu3:hover{
  color: #ee83ed;
  text-decoration: none;
}
#menu4:hover{
  color: #ee83ed;
  text-decoration: none;
}
.dropdown-item:hover{
  color: #ee83ed;
  text-decoration: none;
}
#menu5:hover{
  color: #ee83ed;
  text-decoration: none;
}